<%- layout('layout/boilerplate') %>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card shadow">
                    <div class="card-body">
                        <h3 class="card-title">Compass</h3>
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero soluta aliquid dignissimos
                            voluptatum
                            molestiae harum ducimus animi id voluptate unde recusandae assumenda blanditiis eligendi
                            architecto
                            eos,
                            delectus autem officiis alias?
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    </body>

    </html>