<%- layout('layout/boilerplate') %>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card shadow">
                    <div class="card-body">
                        <h3 class="card-title">Development</h3>
                        <div>
                            <p>This Product is under developement - by Madjda Lograda</p>
                            <p>See Product In <a href="https://github.com/Mlograda/compass.git">Github</a></p>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>