<%- layout('layout/boilerplate') %>
    <div class="container justify-content-center align-items-center">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card shadow">
                    <div class="card-body">
                        <h3 class="card-title">Password Reset</h3>
                        <hr>
                        <form action="/new-password" method="POST" novalidate class="validated-form">
                            <div class="mb-3">
                                <p>Please enter your new password!</p>
                                <label for="password" class="form-label">Password</label>
                                <input type="password" name="password" class="form-control" id="password"
                                    aria-describedby="password" placeholder="Enter New Password.." required autofocus />
                            </div>
                            <div class="mb-3">
                                <label for="repeatPassword" class="form-label">Confirm Password</label>
                                <input type="password" name="repeatPassword" class="form-control" id="repeatPassword"
                                    aria-describedby="repeatPassword" placeholder="Repeat Password.." required />
                                <input type="hidden" name="userId" value="<%=userId%>">
                                <input type="hidden" name="passwordToken" value="<%=passwordToken%>">
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback">Please enter a valid password.</div>
                            </div>
                            <button class="btn btn-success btn-block" id="UpdatePassword">Update Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>